.counter{
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.counter p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.counter button{
    margin-left: 20px;
    margin-right: 20px;
}

.counterButton{
    padding: 16px;
}


.counterButton p{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}